<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net452" />
  <package id="NuPack" version="3.4.2" targetFramework="net452" />
  <package id="NuPack.Extension" version="2.1.0" targetFramework="net452" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net452" />
  <package id="UiPath.Core.Activities" version="17.1.6435.21841" targetFramework="net452" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net452" />
</packages>